.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
}

.mainPhoto {
  height: calc(100vh - 65px);
  width: 100vw;
  object-fit: cover;
  margin-top: 65px;
}

.about p {
  margin-bottom: 24px;
}

.about p:first-of-type {
  margin-top: 16px;
}

.about p:last-of-type {
  margin-bottom: 80px;
}

.sectionPhoto {
  padding: 0 16px;
  width: 100vw;
  object-fit: cover;
}

.map {
  width: 100vw;
  height: 50vh;
  border-width: 0;
  padding: 16px;
}
